<h2 class="sub-form">Tell a secret</h2>

<div class="form-fields inner-box">
	<%= form_for [@user, @secret] do |f| %>
	<p class="form-input"><%= f.label :title %>
	<%= f.text_field :title %></p>
	<p class="form-button"><%= f.submit "Submit" %></p>
	<% end %>
</div>