
	<li class="secret">
		<ul class="secret-details">
		<li class="recipient-name">
			<% author = secret.author %>
			<%= link_to author.username, user_url(author.id) if author %>
		</li>

		<li class="recipient-secret"><%= secret.title %></li>
		</ul>
	</li>
	